@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutPublic";
}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Actualice su contrase単a!</h3>
              @{
                string ErrorUpdate =  ViewBag.ErrorUpdate;
                if(!string.IsNullOrEmpty(ErrorUpdate))
                {
                  <div class="alert alert-danger" role="alert">
                    @ErrorUpdate
                  </div>
                }
              }
              <form method="POST" action="/Auth/UpdateCredentials">
                <input type="hidden" name="nickname" value="@ViewBag.Nickname" />
                <div class="form-label-group">
                  <label >Usuario:</label>
                  <input  type="text"  class="form-control" value="@(ViewBag.NameUser)" disabled>
                </div>
                <div class="form-label-group">
                  <label for="inputEmail">Contrase単a Actual:</label>
                  <input  type="password" id="inputEmail" class="form-control" name="currentPass" required autofocus>
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Contrase単a Nueva:</label>
                  <input type="password" id="inputPassword" class="form-control" name="newPass"  required>
                </div>
                <div class="form-label-group">
                  <label for="confirm-pass">Repita Contrase単a Nueva:</label>
                  <input type="password" id="confirm-pass" class="form-control" name="confirmNewPass" required>
                </div>
                <div class="row-center">
                    <button class="btn-login" type="submit">Guardar</button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>