@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutPublic";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1>Comercializadora "Los Chinitos"</h1>
                <h2 data-aos="fade-up">Tienda Online</h2>
                <div data-aos="fade-up">
                    <div class="text-center text-lg-start">
                        <a
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                            asp-area="" asp-controller="Auth" asp-action="Login">
                            <span style="color: white;">Iniciar Sesión</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img">
                <img src="~/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class="container">

        <header class="section-header">
            <h2>Equipo de Desarollo</h2>
        </header>

        <div class="row gy-4" style="justify-content: center;">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/Stalin_Crisanto.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Stalin Crisanto</h4>
                        <span>Desarrollador</span>
                        <p>Estudiante de la Universidad de las Fuerzas Armadas - ESPE. <br />
                            Carrera: Ingenieria en Sistemas e Informática</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/Dany_Lasso.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Dany Lasso</h4>
                        <span>Desarrollador</span>
                        <p>Estudiante de la Universidad de las Fuerzas Armadas - ESPE. <br />
                            Carrera: Ingenieria en Sistemas e Informática</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/Xavier_Vaca.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Xavier Vaca</h4>
                        <span>Desarrollador</span>
                        <p>Estudiante de la Universidad de las Fuerzas Armadas - ESPE. <br />
                            Carrera: Ingenieria en Sistemas e Informática</p>
                    </div>
                </div>
            </div>




        </div>

    </div>

    </div>

</section><!-- End Team Section -->