@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutPublic";
}

<!-- ======= Values Section ======= -->
<section id="values" class="values">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Detalles Del Sistema</h2>
        </header>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="fade-up" data-aos-delay="200">
                    <img src="~/img/values-1.png" class="img-fluid" alt="">
                    <h3>E-Commerce</h3>
                    <p>Realice compras en línea sin necesidad de acercarse al punto de venta y así evitar aglomeraciones
                        de acuerdo a medidas de seguridad con respecto al Covid-19 y poder recibir en la comodidad de su
                        domicilio sus compras siguiendo los protocolos de bioseguridad.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/values-2.png" class="img-fluid" alt="">
                    <h3>Gestión de Financiera</h3>
                    <p>El sistema le permitir consultar la disponibilidad de los artículos, consultar precios, entregar
                        factura electrónica o nota de venta, visualizar productos del inventario, visualizar
                        proveedores, ingreso de clientes, programar la entrega del pedido.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                    <img src="~/img/values-3.png" class="img-fluid" alt="">
                    <h3>Gestión de Usuarios</h3>
                    <p>El sistema le brinda seguridad total sobre la Información que maneja cada usuario, otorgando el
                        acceso en base a su perfil.</p>
                </div>
            </div>

        </div>

    </div>

</section><!-- End Values Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class="container">

        <header class="section-header">
            <h2>Equipo de Desarollo</h2>
        </header>

        <div class="row gy-4" style="justify-content: center;">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/Stalin_Crisanto.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Stalin Crisanto</h4>
                        <span>Desarrollador</span>
                        <p>Estudiante de la Universidad de las Fuerzas Armadas - ESPE. <br />
                            Carrera: Ingenieria en Sistemas e Informática</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/Dany_Lasso.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Dany Lasso</h4>
                        <span>Desarrollador</span>
                        <p>Estudiante de la Universidad de las Fuerzas Armadas - ESPE. <br />
                            Carrera: Ingenieria en Sistemas e Informática</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/team/Xavier_Vaca.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Xavier Vaca</h4>
                        <span>Desarrollador</span>
                        <p>Estudiante de la Universidad de las Fuerzas Armadas - ESPE. <br />
                            Carrera: Ingenieria en Sistemas e Informática</p>
                    </div>
                </div>
            </div>




        </div>

    </div>

    </div>

</section><!-- End Team Section -->