<section class="container-root">
    <div class="container">
        <div class="row justify-content-md-center card">
            <div class="col-md-auto">
                factura
            </div>
        </div>
    </div>
</section>